body{
       background-color: #f5f9f8;

   }

h1{
    color: #050a97;
    font-family: Georgia, Times, serif;
    text-decoration: underline;
}

div.box {
height: 300px;
width: 300px;
background-color: #bbbbaa;}
p {
height: 75%;
width: 75%;
background-color: #0088dd;}

td.description {
min-width: 450px;
max-width: 650px;
text-align: left;
padding: 5px;
margin: 0px;}
